@page
@model Assignment2022_NCC.Pages.RatingsAndReviewsModel
@{
    
<style>
    .column {
        display: grid;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to Ratings and Reviews</h1>
</div>

<div class="column">
    
</div>
}
